<div class="w-full h-20 bg-[#4758b8] flex justify-around items-center text-white mx-auto">
    <div class="bg-[#c3d4d2] opacity-90 rounded-3xl p-2" (click)="handleMenu()">
        <div class="img"></div>
    </div>

    <ng-container *ngIf="banner.existName; else noName">
        <p class="text-4xl">{{banner.nameModule}}</p>
    </ng-container>

    <ng-template #noName>
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="h-4">Laboratorio Clínico</h1>
            <h1 class="h-4">Hinestroza Ferrer C.A</h1>
            <p>RIF J-20658349-6</p>
        </div>
    </ng-template>

    <div 
        class="flex justify-center items-center cursor-pointer" 
        (click)="redirect()" 
        matTooltip="Ayuda"
        [matTooltipPosition]="'right'"
        >
        <mat-icon>help</mat-icon>
        <!-- <p class="helpText">Ayuda</p> -->
    </div>

    <div class="flex justify-center items-center cursor-pointer" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <p class="logoutText">Cerrar Sesión</p>
    </div>
</div>

<div class="flex flex-row items-center justify-between h-full">
    <app-sidebar [widthMenu]="widthMenuChild"></app-sidebar>
    <div class="flex items-center justify-center w-full h-full" (click)="closeMenu()">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <app-footer class="absolute bottom-0 w-full"></app-footer> -->