.img{
    background-image: url('/assets/Logos/Logo-removebg-preview.png');
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-icon{
    scale: 1.8;
}

.logoutText{
    font-size: 1.5rem;
    margin: auto 1rem;
}
.helpText{
    margin: 0 1rem;
    margin-top: -1rem;
}