<div class="w-[60rem] flex flex-col relative items-center justify-center bg-white rounded-2xl px-10 h-[23.5rem]">

    <div class="fixBtn">
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
    </div>

    <p class="text-[#4758b8] text-left w-2/6 font-bold text-[20px]">Ingrese cedula del cliente:</p>

    <form [formGroup]="formClient" (submit)="onSubmitClient()" class="flex justify-center items-center w-full btnSeacrh">
        <mat-form-field appearance="outline" class="h-[50px] w-[5rem]">
            <mat-select formControlName="clientPrefix">
                <mat-option value="V">V</mat-option>
                <mat-option value="E">E</mat-option>
                <mat-option value="J">J</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inputCustom">
            <input matInput formControlName="clientIdentify" type="number">
        </mat-form-field>
        <button mat-fab type="submit" [disabled]="!formClient.valid" class="ml-10" color="primary">
            <mat-icon>search</mat-icon>
        </button>
    </form>

    <div class="flex flex-col items-center justify-center  mt-10">
        <p class="text-[20px]">Si el cliente no existe puedes</p>
        <p class="text-[20px] text-blue-600 underline cursor-pointer" (click)="redirectClient()">REGISTRAR UN NUEVO CLIENTE</p>
    </div>
</div>
