<div
    class="bg-white w-full h-full rounded-2xl px-10 flex flex-col items-center justify-center">
    <form [formGroup]="formEmployePartTwo" (submit)="sendFormDate()" class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center w-full px-10">
            <h1 class="text-[#4758b8]">DATOS PERSONALES</h1>
            <fieldset class="flex items-center justify-start">
                <span class="pb-5 mx-2 text-[15px]">Datos Médicos
                    Relevantes</span>
                <mat-form-field appearance="outline" class="w-[50rem]">
                    <mat-label>Datos Médicos Relevantes</mat-label>
                    <input matInput formControlName="medicData"/>
                    <mat-error *ngIf="formEmployePartTwo.get('medicData')?.hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </fieldset>
        </div>

        <div class="flex flex-col items-center justify-center w-full px-10">
            <h1 class="text-[#4758b8]">DATOS EMPRESARIALES</h1>

            <div class="flex items-center justify-between w-full">
                <div class="rol">
                    <span class="pb-5 mx-2 text-[15px]">Cargo</span>
                    <mat-form-field appearance="outline" class="w-[20rem]">
                        <mat-label>Cargo</mat-label>
                        <mat-select formControlName="rol">
                            <ng-container *ngFor="let rol of roles">
                                <mat-option value="{{rol.Id_Rol}}">{{rol.RolDes}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="formEmployePartTwo.get('rol')?.hasError('required')">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <fieldset [disabled]="disableInput" class="flex items-center justify-center">
                    <span class="pb-5 mx-2 text-[15px]">Clave de Seguridad</span>

                    <mat-form-field appearance="outline" class="w-[20rem]">
                        <mat-label>Clave de Seguridad</mat-label>
                        <input matInput formControlName="securityKey" readonly class="{{disableInput ? 'disableInputColor' : ''}}">
                        <mat-error *ngIf="formEmployePartTwo.get('securityKey')?.hasError('required')">Este campo es requerido</mat-error>
                    </mat-form-field>
                    
                    <ng-container *ngIf="!disableInput">
                        <button mat-raised-button color="primary" (click)="generateSecutiryKey()">
                            <mat-icon>key</mat-icon>
                        </button>
                    </ng-container>
                </fieldset>
            </div>

            <div class="flex items-center justify-between w-full">
                <fieldset class="user">
                    <span class="pb-5 mx-2 text-[15px]">Usuario</span>
                    <mat-form-field appearance="outline" class="w-[20rem]">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="user"/>
                        <mat-error *ngIf="formEmployePartTwo.get('user')?.hasError('required')">Este campo es requerido</mat-error>
                    </mat-form-field>
                </fieldset>

                <fieldset class="password">
                    <span class="pb-5 mx-2 text-[15px]">Contraseña</span>
                    <mat-form-field appearance="outline" class="w-[20rem]">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password"/>
                        <mat-error *ngIf="formEmployePartTwo.get('password')?.hasError('required')">Este campo es requerido</mat-error>
                    </mat-form-field>
                </fieldset>
            </div>
        </div>

        <button mat-raised-button type="submit" class="btnHidden" color="primary">Guardar</button>
    </form>
</div>
