<div class="bg-white w-[60rem] h-[30rem] rounded-2xl py-12 flex items-center justify-around">
    <div class="choiceOption" (click)="navigate('home/factures/get-facture')">
        <div class="imgOption"></div>
        <mat-icon svgIcon="facturar"></mat-icon>
        <p>Clientes</p>
    </div>
    <div class="choiceOption" (click)="navigate('home/factures/anulation')">
        <div class="imgOption"></div>
        <mat-icon svgIcon="anulacion"></mat-icon>
        <p>Pruebas</p>
    </div>
</div>
