<div class="bg-white w-[60rem] h-[30rem] rounded-2xl py-12 px-10 flex flex-col items-center justify-center">
    <div class="flex flex-row items-center justify-between w-full">
        <div class="flex items-center justify-center">
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon>
            </button>
            <p class="fixTextTitle">Mostrar empleado</p>
        </div>

        <div class="widthInputFilter">
            <mat-form-field class="w-full">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
            </mat-form-field>
        </div>
    </div>

    <ng-container *ngIf="dataSource != null">
        <app-tabla 
        [displayedColumns]="displayedColumns" 
        [columns]="columns" 
        [dataTable]="dataSource"
        ></app-tabla>
    </ng-container>
</div>