.background{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
h1{
  text-align: center;
  color: #fff;
}
.formClass{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #000;
  background-color: #c3d4d2;
  opacity: .8;
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  width: 40vw;
}
.img{
  background-image: url('../../../../assets/Logos/Logo-removebg-preview.png');
  width: 8rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.text p{
  line-height: 5px;
  text-align: center;
  font-weight: bold;
}

.formColumun{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 35vh;
}
.inputYellow{
  // background: yellow;
  width: 20vw;
  font-size: 14px;
}
.inputForm p{
  margin-top: -1rem;
  font-weight: bold;
  text-align: center;
}

.content{
  display: block;
}
.password{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.password a{
  color: #fff;
}


.app-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
