<div class="background">

  <div class="content">
    <h1 class="titleWelcome">!Bienvenido al sistema¡</h1>
    <div class="formClass">
      <div class="logo">
        <div class="img"></div>
        <div class="text">
          <p> Laboratorio Clínico </p>
          <p> Hinestroza Ferrer C.A </p>
          <p> RIF-J20658349-6</p>
        </div>
      </div>

      <form [formGroup]="formLogin" class="formColumun" (submit)="onLoggin()">
        <div class="inputForm">
          <p>Nombre de Usuario</p>
          <mat-form-field appearance="outline" class="inputYellow">
            <mat-icon matPrefix>account_circle</mat-icon>
            <input matInput formControlName="user">
          </mat-form-field>
        </div>

        <div class="inputForm">
          <p>Contraseña</p>
          <mat-form-field appearance="outline" class="inputYellow">
            <input matInput formControlName="password" type="{{hidden ? 'password' : 'text'}}">
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (mouseup)="visibility()">
              <mat-icon>{{hidden ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onLoggin()">Ingresar</button>
      </form>
    </div>
    <div class="password">
      <p class="pLink" (click)="redirect('contraseña')">Olvidé la contraseña</p>
      <p class="pLink" (click)="redirect('usuario')">Olvidé el usuario</p>
    </div>
  </div>

  <app-footer class="app-footer" [footerData]="footerData"></app-footer>
</div>

