<div class="flex justify-center items-center w-full h-full">

  <div class="block">
    <h1 class="text-white text-center">!Bienvenido al sistema¡</h1>
    <div class="formClass">
      <div class="logo">
        <div class="img"></div>
        <div>
          <p class="text-center font-bold h-1.5"> Laboratorio Clínico </p>
          <p class="text-center font-bold h-1.5"> Hinestroza Ferrer C.A </p>
          <p class="text-center font-bold h-1.5"> RIF-J20658349-6</p>
        </div>
      </div>

      <form [formGroup]="formLogin" class="formColumun" (submit)="onLoggin()">
        <div class="inputForm">
          <p>Nombre de Usuario</p>
          <mat-form-field appearance="outline" class="inputYellow">
            <mat-icon matPrefix>account_circle</mat-icon>
            <input matInput formControlName="user">
          </mat-form-field>
        </div>

        <div class="inputForm">
          <p>Contraseña</p>
          <mat-form-field appearance="outline" class="inputYellow">
            <input matInput formControlName="password" type="{{hidden ? 'password' : 'text'}}">
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (mouseup)="visibility()">
              <mat-icon>{{hidden ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onLoggin()" [disabled]="formLogin.invalid">Ingresar</button>
      </form>
    </div>

    <div class="flex items-center justify-around w-full mt-4 text-white">
      <p class="cursor-pointer text-white underline" (click)="redirect('password')">Olvidé la contraseña</p>
      <div class="flex items-center justify-center cursor-pointer text-white underline gap-3" (click)="redirect('help')">
          <mat-icon>help</mat-icon>
        <p>Ayuda</p>
      </div>
      <p class="cursor-pointer text-white underline" (click)="redirect('user')">Olvidé el usuario</p>
    </div>
  </div>

  <app-footer class="w-full absolute bottom-0" [footerData]="footerData"></app-footer>
</div>

