:host {
  display: block;
}

.asisten{
  /* border: 2px solid #fff; */
  height: 100%;
  width: 100%;
}

.inputEmployed{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid #fff; */
  height: 100%;
  width: 25%;
}
.imgEmployed{
  /* border: 2px solid #fff; */
  height: 100%;
  width: 25%;
}
.dataEmployed{
  /* border: 2px solid #fff; */
  height: 100%;
  width: 50%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.customInput{
  color: #fff !important;
}
