<div class="bg-white w-full h-[50rem] rounded-3xl px-10  py-12 flex flex-col items-center justify-center">
    <div class="flex items-center justify-start w-full px-10">
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
        <h1>Registro empleado</h1>
    </div>

    <mat-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="false">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Paso 1</ng-template>

                <app-register-completed/>

                <div class="w-full flex items-center justify-end">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="false">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Paso 2</ng-template>

                <app-form-employer-part-two></app-form-employer-part-two>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl">
                </mat-form-field>

                <div class="w-full flex items-center justify-between">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>