<div class="flex flex-col items-start py-10 justify-around h-screen w-full relative">

    <div
        class="flex justify-center items-center cursor-pointer absolute top-5 right-5 text-[32px] text-white"
        (click)="goBack()">
        <mat-icon >logout</mat-icon>
        <p class="logoutText">Cerrar Sesión</p>
    </div>

    <div class="bg-white w-[100%] rounded-3xl m-auto">

        <h1 class="text-center w-full titleMargin">Bienvenida Aixa Chacin</h1>

        <div class="flex flex-col items-center justify-center w-full">
            <div class="flex items-center justify-between w-[100%] my-2">
                <div class="flex items-center justify-center">
                    <p class="text-[20px]">Descarga y mira tus resultados</p>
                </div>

            </div>

            <ng-container *ngIf="dataOrders">
                <div class="w-[100%]">
                    <app-tabla
                        [displayedColumns]="displayedColumns"
                        [columns]="columns"
                        [dataTable]="dataOrders"
                        (actionTable)="getActionTable($event)"
                        [left]="true" />
                </div>
            </ng-container>
        </div>
    </div>
</div>
