<div class="w-full upContent">
    <div class="bg-white flex flex-col justify-center items-center rounded-3xl px-12 py-5">
        <div class="flex items-center justify-start w-full my-2">
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon>
            </button>
            <h1 class="text-black">Formulario Cliente</h1>
        </div>
        <div class="w-full">
            <app-register-completed
            (dataForm)="addClient($event)"
            ></app-register-completed>
        </div>
    </div>
</div>